#sign-up-container {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    width: 50vw;
    margin: 160px auto;
    background-color: #043927;
    color: #d3d4d9;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(4, 57, 39, 0.25) 0px 50px 100px -20px, rgba(4, 57, 39, 0.3) 0px 30px 60px -30px, rgba(4, 57, 39, 0.35) 0px -2px 6px 0px inset;
}

#sign-up-title {
    font-size: 28px;
    margin-top: 80px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 50px;
    padding: 25px;
}

#name-container {
    display: flex;
    justify-content: space-between;
}

#name-container label {
    margin-bottom: 8px;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.first input {
    width: 250px
}

.middle {
  width: 110px;
  margin-left: 15px;
}

.last input {
    width: 250px;
}

.middle label {
    width: 110px;
}

.middle input {
    width: 25px;
}

#contact-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#contact-info-container label {
    margin-bottom: 8px;
}

.email-contact{
    width: 360px;
}

.phone-contact{
    width: 155px;
    margin-right: 25px;
}

.email-contact input {
    width: 350px;
}

.phone-contact input{
    width: 150px;
}

.email-contact input{
    width: 325px;
}

#date-of-birth-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.dob {
    display: flex;
    flex-direction: column;
}

.dob-month {
    margin-left: 50px;
}

.dob-year {
    margin-right: 50px;
}

.dob label {
    margin-bottom: 8px;
}

#password-container {
    display: flex;
    margin: 40px 0 60px 0;
    justify-content: space-between;
}

.password {
    display: flex;
    flex-direction: column;
}

.password label {
    margin-bottom: 8px;
}

#signup-submit{
    font-size: 1.2rem;
    padding: 5px 20px;
    margin-bottom: 40px;
    border: none;
    border-radius: 8px;
}