#sign-up-container {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    width: 80vw;
    height: 50vh;
    margin: 160px auto;
    background-color: #043927;
    color: #d3d4d9;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(4, 57, 39, 0.25) 0px 50px 100px -20px, rgba(4, 57, 39, 0.3) 0px 30px 60px -30px, rgba(4, 57, 39, 0.35) 0px -2px 6px 0px inset;
}

#sign-up-title {
    font-size: 28px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px red dashed;
}

#name-container {
    display: flex;
    justify-content: space-between;
}

#name-container label {
    margin-bottom: 8px;
}

.signup-container {
    display: flex;
    flex-direction: column;
}

.middle {
 
  width: 160px;

}

.middle label {
    width: 95px;
}

.middle input {
    width: 25px;
}

#contact-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#contact-info-container label {
    margin-bottom: 8px;
}

.contact {
    width: 40%;
}

.email-contact input{
    width: 325px;
}

#date-of-birth-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.dob {
    display: flex;
    flex-direction: column;
}

.dob label {
    margin-bottom: 8px;
}

#password-container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.password {
    display: flex;
    flex-direction: column;
}

.password label {
    margin-bottom: 8px;
}