.home-container {
    height: 100vh;
    padding: 150px;
    display: flex;
    flex-direction: column;
}

.main-title {
    width: 800px;
    margin: 50px auto 50px auto;
    font-size: 3rem;
}

.sports-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
