.forgot-password-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: #043927;
    color: #a5a7a4;
    margin: 300px auto 0 auto;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(4, 57, 39, 0.25) 0px 50px 100px -20px, rgba(4, 57, 39, 0.3) 0px 30px 60px -30px, rgba(4, 57, 39, 0.35) 0px -2px 6px 0px inset;
}

.forgot-password-title {
    font-size: 3rem;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-label-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.forgot-password-input {
    border: none;
    border-radius: 5px;
    height: 25px;
    font: 1.3rem;
    font-weight: 550;
    background-color: #d4d4d4;
}

.forgot-password-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.forgot-password-button {
    width: 65px;
    padding: 5px 10px;
    margin-top: 15px;
    align-self: flex-end;
    background-color: #d3d4d9;
    border: none;
    border-radius: 8px;
}

