#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 50px;
    margin: 150px auto 0;
    background-color: #043927;
    color: #d3d4d9;
    border-radius: 8px;
    box-shadow:
    rgba(4, 57, 39, 0.25) 0px 50px 100px -20px,
    rgba(4, 57, 39, 0.3) 0px 30px 60px -30px,
    rgba(4, 57, 39, 0.35) 0px -2px 6px 0px inset;
}

#profile h1 {
    margin-bottom: 50px;
}

#profile-header {
    display: flex;

}

#image-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-container {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 100px;
}

#profile-name {
    font-size: 2rem;
    font-weight: 800;

}

.user-info {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    font-size: 1.2rem;
}

