#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border: 1px dashed red;
    margin: 150px auto 0;
}

#profile-header {
    display: flex;

}

#image-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed red;
}

#image-container {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
}

#profile-name-container {
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left : 100px;
}

#profile-name {
    font-size: 2rem;
    font-weight: 800;

}