.game-list-container {
    width: 35%;
    flex: f1;
    height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    border: 4px groove #228b22;
    margin-right: 100px;
    background-color: #d3d4d9;
    color: #043927;
}

.week-group {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.week-heading-container {
    margin-top: 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #d3d4d9;
    border-bottom: 4px groove #228b22;
}

.week-heading {
    margin-right: auto;
    margin-left: auto;
    font-size: 2.5rem;
    background-color: #d3d4d9;
}