.sports-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 400px;
  height: 700px;
  margin: 50px auto;
  font-size: 1.5rem;
  background-color: #043927;
  color: #d3d4d9;
  border: 4px ridge #228b22;
  outline: 8px ridge #228b22;
  outline-offset:6px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow:
    rgba(4, 57, 39, 0.25) 0px 50px 100px -20px,
    rgba(4, 57, 39, 0.3) 0px 30px 60px -30px,
    rgba(4, 57, 39, 0.35) 0px -2px 6px 0px inset;
}


.sports-games {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 10px;;
}

.sports-games::-webkit-scrollbar {
  width: 6px;
}

.sports-games::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.sports-games::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.game-preview {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;

}

.game-date {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-row {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.vs {
  font-size: 1rem;
}

.money-line {
  font-weight: bold;
}