#nav-bar {
    background-color: #043927;
    color: #d3d4d9;
    display: flex;
    margin: 0;
    width: 100vw;
    height: 65px;
    justify-content: space-between;
    padding: 5px 60px;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;

}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

#btns-container {
    gap: 50px;
    display: flex;
    margin-right: 90px;
}

.btn {
    font-size: 1rem;
    padding: 5px 20px;
    background-color: #d3d4d9;
    color: #043927;
    border: none;
    border-radius: 8px;
}

