.pool-table {
    border-collapse: collapse;
    width: 100%;
}

.pool-table th,
.pool-table td {
    border: 1pc solid #ddd;  
    padding: 8px;
    text-align: center;
}

.rotate {
    writing-mode: verticle-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}

.vertical-stack {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 180px;
    gap: 12px;
}


.header-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-game .team {
    font-weight: bold;
}
